{% for image in images %}
                
<div class="col-12 col-md-6">

     <div class="img-thumbnail">
         <img src="/images/{{ image }}" class="img-fluid"/>
     </div>

</div>
{% endfor %}
